.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  text-transform: uppercase;
  color: #fff;
  background-color: #2ecfbf !important;
  border: none !important;
  padding: 14px 0 !important;
  width: 330px;
  font-weight: bold !important;
  font-size: 18px !important;
}
